.contact-us{
    align-items: center;
    justify-content: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    overflow: hidden;
    /* padding-bottom: 2rem; */
    margin-top: 0px;
    background-color: #1b1e34;
}

.contact-header{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
}

.contact-box{
    width: 75%;
    display: inline-block;
    padding: 3rem;
    /* margin: 1rem; */
    align-items: center;
    background-color: #1b1e34;
    /* display: inline-block; */
}

.contact-icon{
    float: left;
    position: relative;
    top: 75%;
    margin-right: 2rem;
    /* transform: translateY(50%); */
    color: #fff;
}

.contact-details{
    color: #fff;
    font-size: 1.3rem;
    text-align: left;
    display: inline-block;
}
.contact-details h4{

}
.contact-details a{
    text-decoration: none;
    color: #d09819;
}



@media only screen and (max-width: 768px) {
    .contact-box{
        /* left: 50%; */
        width: 100%;
        /* transform: translateX(-50%); */
        position: relative;
    }
}

.contact-header {
    font-size: 2.6rem;
    font-weight: 600;
}

.contact-form{
    background-color: transparent;
    color: #fff;
    border:none;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    font-size: 14px;
    font-weight: bold;
    min-height: 40px;
    padding: 10px 9px 9px 9px;
    width: 75%;
    /* margin: 1rem; */
    border-bottom: 1px solid white;
}

.contact-form:hover{
    border-bottom: 1px solid #d09819;
}

.contact-form:focus{
    outline:none;
    border-bottom: 1px solid #d09819;
}

input::placeholder{
    color:#d09819;
    font-weight: 400;
}

textarea::placeholder{
    color:#d09819;
    font-weight: 400;
}


.contact-submit-button{
    width: 11rem;
    height: 3rem;
    background-color: #8C6BC4;
    border: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    font-weight: 500;
    margin-top: 2rem;
    transition: 0.3s all ease-in;
}

.contact-submit-button:hover{
    background-color: #d09819;
}

.contact-submit-button:focus{
    outline: none;
}


@media only screen and (max-width: 540px) {
    .contact-submit-button{
        left:16%
    }
}